<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popfilm</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <a href="index.html" class="header-logo">Popfilm</a>
      <nav class="header-nav">
        <a href="../home/home.html">Inicio</a>
        <a href="../control-panel/control.html">Modificar</a>
      </nav>
      <input type="text" class="header-search" placeholder="Buscar..." />
      <div class="account-actions">
        <a href="../control-usuario/control-usuario.html"
          ><img src="../../assets/account_icon.svg" alt="Account Circle"
        /></a>
      </div>
    </header>
  </body>
</html>
