<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="form-container">
      <h1>¡Únete a nosotros!</h1>
      <form id="registerForm" action="#" method="POST">
        <input type="text" id="nombre" placeholder="Nombre" required />
        <input
          type="email"
          id="email"
          placeholder="Correo electrónico"
          required
        />
        <input
          type="password"
          id="password"
          placeholder="Contraseña"
          required
        />
        <button type="submit" onclick="registrarUsuario();">Regístrate</button>
      </form>
      <div class="error" style="display: none; color: red">
        Hubo un error en el registro. Por favor, intenta nuevamente.
      </div>
      <div class="help-text">
        ¿Ya tienes una cuenta?
        <a href="../login/login.html">Inicia sesión aquí</a>
      </div>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
