<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Controles administrador</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <script>
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    // URL base de la API
    const apiUrl = "/api/peliculas"; // Ajustar según la URL de tu API

    // Función para insertar una película
    function insertMovie(event) {
      event.preventDefault(); // Evitar que el formulario recargue la página

      // Obtener los valores del formulario
      const nombre = document.getElementById("titulo").value;
      const sinopsis = document.getElementById("sinopsis").value;
      const categoria = document.getElementById("categoria").value;
      const portada = "PEPE"; // Puedes agregar lógica para manejar la portada si es necesario
      const datos = JSON.stringify({
        "nombre": nombre,
        "sinopsis": sinopsis,
        "categoria": categoria,
        "portada": portada
      });

      fetch("/api/peliculas", {
        method: "POST",
        headers: myHeaders,
        body: datos,
      })
        .then((response) => response.json())
        .then((result) => {
          if (result.status === "OK") {
            alert("Película guardada con éxito");
            cerrarFormulario();
            agregarFila(
              nombre,
              categoria,
              sinopsis,
              portada
            ); // Mostrar la película en la tabla
          } else {
            alert("Hubo un error al guardar la película");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("Se ha producido un error al subir la portada");
        });
    }

    // Función para editar una película
    let peliculaId; // Variable global para almacenar el ID de la película

function editarPelicula(id) {
  console.log("EDITAR")
  console.log(id)
  peliculaId = id; // Almacenar el ID al editar la película
  fetch(`/api/pelicula/${id}`, {
    method: 'GET'
  })
    .then(response => response.json())
    .then(pelicula => {
      console.log(pelicula.nombre)
      // Rellenar los campos del formulario con los datos actuales de la película
      document.getElementById("titulo").value = pelicula.nombre;
      document.getElementById("sinopsis").value = pelicula.sinopsis;
      document.getElementById("categoria").value = pelicula.categoria;

      // Cambiar el botón de "Guardar" a "Actualizar"
      document.getElementById("submit-btn").textContent = "Actualizar";

      // Cambiar la función del formulario a guardarCambios
      document.getElementById("movie-form").onsubmit = guardarCambios;

      // Abrir el formulario modal
      abrirFormulario();
    })
    .catch(error => {
      console.error('Error al obtener los detalles de la película:', error);
    });
}

    // Función para guardar los cambios de una película
    function guardarCambios(event) {
  event.preventDefault(); // Evitar que se recargue la página

  const nombre = document.getElementById("titulo").value;
  const sinopsis = document.getElementById("sinopsis").value;
  const categoria = document.getElementById("categoria").value;
  const portada = "PEPE"; // Puedes añadir lógica para manejar la portada si es necesario

  const datos = JSON.stringify({
    "id": peliculaId, // Utilizar el ID almacenado
    "nombre": nombre,
    "sinopsis": sinopsis,
    "categoria": categoria,
    "portada": portada
  });

  // Realizar la solicitud PUT
  fetch(`/api/peliculas`, {
    method: 'PUT',
    headers: {
      "Content-Type": "application/json"
    },
    body: datos
  })
    .then(response => {
      if (!response.ok) {
        throw new Error(`Error HTTP: ${response.status}`);
      }
      return response.json();
    })
    .then(result => {
      console.log(result); // Mostrar todos los detalles de la respuesta del servidor para debuguear
      if (result.status === "OK") {
        alert("Película actualizada con éxito");
        cerrarFormulario();
        cargarPeliculas(); // Recargar las películas para ver los cambios
      } else {
        alert(`Hubo un error al actualizar la película: ${result.message || "Error desconocido"}`);
      }
    })
    .catch(error => {
      console.error('Error al actualizar la película:', error);
      alert(`Se ha producido un error: ${error.message || "Error desconocido"}`);
    });
}

    // Función para agregar una fila a la tabla de películas
    function agregarFila(nombre, categoria, sinopsis, portadaURL, id) {
      const tableBody = document.getElementById("movie-list");

      // Crear una nueva fila en la tabla
      const row = document.createElement("tr");

      // Crear las celdas para el nombre, categoría, sinopsis, portada
      const tdNombre = document.createElement("td");
      tdNombre.textContent = nombre;
      const tdCategoria = document.createElement("td");
      tdCategoria.textContent = categoria;
      const tdSinopsis = document.createElement("td");
      tdSinopsis.textContent = sinopsis;
      const tdPortada = document.createElement("td");
      //const img = document.createElement("img");
      //img.src = portadaURL;
      //img.alt = "Portada";
      //img.width = 100; // Ajusta el tamaño de la imagen si lo deseas
      //tdPortada.appendChild(img);

      // Crear las celdas para las acciones (editar y eliminar)
      const tdAcciones = document.createElement("td");

      // Botón de editar
      const btnEditar = document.createElement("button");
      btnEditar.textContent = "Editar";
      btnEditar.onclick = function() {
      console.log("ID para editar:", id);  // Verificar si el id se pasa correctamente
      editarPelicula(id);  // Llamar a editarPelicula con el id
      };

      // Botón de eliminar
      const btnEliminar = document.createElement("button");
      btnEliminar.textContent = "Eliminar";
      btnEliminar.addEventListener("click", function() {
        eliminarPelicula(id);
      });

      // Añadir los botones a la celda de acciones
      tdAcciones.appendChild(btnEditar);
      tdAcciones.appendChild(btnEliminar);

      // Agregar las celdas a la fila
      row.appendChild(tdNombre);
      row.appendChild(tdCategoria);
      row.appendChild(tdSinopsis);
      row.appendChild(tdPortada);
      row.appendChild(tdAcciones);

      // Agregar la fila a la tabla
      tableBody.appendChild(row);
    }

    // Función para cargar todas las películas
    function cargarPeliculas() {
      fetch("/api/peliculas")
        .then(response => response.json())
        .then(peliculas => {
          const tableBody = document.getElementById("movie-list");
          tableBody.innerHTML = '';
          peliculas.forEach(pelicula => {
            agregarFila(pelicula.nombre, pelicula.categoria, pelicula.sinopsis, pelicula.portada, pelicula.id);
          });
        })
        .catch(error => console.error('Error al cargar las películas:', error));
    }

    // Función para eliminar una película
    function eliminarPelicula(id) {
      console.log("ELIMINAR")
      console.log(id)
      fetch(`/api/peliculas/${id}`, {
        method: 'DELETE'
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === "OK") {
          alert("Película eliminada");
          cargarPeliculas();  // Recargar la lista de películas
        } else {
          alert("Error al eliminar la película");
        }
      })
      .catch(error => console.error('Error al eliminar la película:', error));
    }

    // Función para abrir el formulario modal
    function abrirFormulario() {
      document.getElementById("modal-form").style.display = "flex";
    }

    // Función para cerrar el formulario modal
    function cerrarFormulario() {
      document.getElementById("modal-form").style.display = "none";
    }

    // Al cargar la página, cargar las películas
    document.addEventListener('DOMContentLoaded', function() {
      cargarPeliculas(); // Llama a la función para cargar todas las películas
    });
  </script>
  <body>
    <header class="header">
      <a href="../home/home.html" class="header-logo">Popfilm</a>
      <nav class="header-nav">
        <a href="../home/home.html">Inicio</a>
        <a href="control.html">Modificar</a>
      </nav>
      <div class="account-actions">
        <a href="../control-usuario/control-usuario.html">
          <img src="../../assets/account_icon.svg" alt="Account Circle" />
        </a>
      </div>
    </header>

    <div class="container">
      <div class="add-movie-button">
        <button class="button" onclick="abrirFormulario()">Agregar Película</button>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Título</th>
              <th>Categoria</th>
              <th>Sinopsis</th>
              <th>Portada</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="movie-list"></tbody>
        </table>
      </div>
    </div>

    <!-- Modal -->
    <div id="modal-form" class="modal">
      <div class="modal-content">
        <span class="close-button" onclick="cerrarFormulario()">×</span>
        <h2>Agregar Película</h2>
        <form id="movie-form" onsubmit="insertMovie(event)">
          <input type="hidden" id="movie-id" name="id" />
          <label for="titulo">Título:</label>
          <input type="text" id="titulo" name="titulo" required />

          <label for="categoria">Categoria:</label>
          <input type="text" id="categoria" name="categoria" required />

          <label for="sinopsis">Sinopsis:</label>
          <input type="text" id="sinopsis" name="sinopsis" required />

          <button type="submit" id="submit-btn" class="button">Guardar</button>
        </form>
      </div>
    </div>
  </body>
</html>
